@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Datatype:wght@100..900&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 550;
}

.navbar {
    display: flex;
    background-color: red;
    padding: 20px 30px;
    height: 80px;
    font-size: 18px;
    align-items: center;
}

.navbar a {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: burlywood;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.navbar a:hover {
    transform: scale(1.2);
    margin: 0 10px;
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 50px 20px;
}

form input {
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom: 40px;
    margin-top: 6px;
    width: 250px;
    margin: 6px 0 30px 0;
    padding: 8px;
    font-size: 16px;
    width: 400px;
    border-radius: 10px;
    transition: 0.3s;
}

h1 {
    font-weight: 750;
    margin: 70px 0 20px 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 20px;
}



form input:hover {
    transform: scale(1.1);
    margin-left: 20px;
}

main a {
    display: flex;
    background-color: gray;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 200px 20px 200px;
    border: 2px solid black;
    border-radius: 10px;
    color: burlywood;
    font-weight: 700;
    font-size: 25px;
    transition: 0.3s;
}

main a:hover {
    transform: scale(1.1);
}