@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Datatype:wght@100..900&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 550;
}

h1 {
    font-weight: 750;
    margin: 70px 0 20px 20px;
}

h2 {
    margin: 0 20px;
}

.addItens .ofertas form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 20px;
}

.addItens .ofertas form input {
    margin: 6px 0 0 0;
    padding: 8px;
    font-size: 16px;
    width: 400px;
    border-radius: 10px;
    transition: 0.3s;
}

.addItens .ofertas form input:hover {
    transform: scale(1.1);
    margin-left: 20px;
}

.addItens .ofertas form textarea {
    margin: 6px 0 0 0;
    padding: 8px;
    font-size: 16px;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    transition: 0.3s     ;
}

.addItens .ofertas form textarea:hover {
    transform: scale(1.1);
    margin-left: 20px;
    margin-bottom: 10px;
}

.addItens .ofertas label {
    margin-top: 50px;
}

.addItens form p {
    color: red;
}

.produto img {
    height: 0px;
}

.produto h3 {
    font-size: 0px;
}

.produto p {
    font-size: 0px;
}

.navbar {
    display: flex;
    background-color: red;
    padding: 20px 30px;
    height: 80px;
    font-size: 18px;
    align-items: center;
}

.navbar a {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: burlywood;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.navbar a:hover {
    transform: scale(1.2);
    margin: 0 10px;
    border: 2px solid black;
}