@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Datatype:wght@100..900&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "montserrat", sans-serif;
    font-weight: 550;
}

.navbar ul {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    list-style: none;
    background-color: red;
    height: 80px;
}

.navbar ul .ladoDireito {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}

.navbar ul .ladoEsquerdo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
}

.navbar ul .ladoDireito li a {
    font-size: 18px;
    background-color: burlywood;
    padding: 6px 8px;
    border-radius: 10px;
    transition: 0.07s;
}

.navbar ul .ladoEsquerdo i {
    font-size: 28px;
    transition: 0.3s;
}

.navbar ul .ladoEsquerdo i:hover {
    transform: scale(1.3);
}

.navbar .ladoDireito a:hover {
    border: 3px solid black;
    box-sizing: content-box;
    padding: 10px;
}

.introducao {
    margin: 70px 20px;
}

.introducao h1 {
    font-weight: 750;
}

.introducao i {
    color: red;
}

.palavraForte {
    color: burlywood;
    font-style: italic;
    font-weight: bold;
}

h2 {
    margin: 0 20px;
}

.containerOfertas {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
}

.containerOfertas {
    margin: 5px;
}

.containerOfertas h3 {
    font-size: 25px;
}

.containerOfertas img {
    height: 200px;
    border-radius: 10px;
    transition: 0.15s;
    border: 2px solid black;
}

.containerOfertas img:hover {
    border: solid 3px red;
    padding: 5px;
    background-color: black;
}

.containerOfertas li {
    list-style: none;
}

.semProdutos {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    background-color: gray;
    padding: 50px;
    border: 3px solid black;
    margin: 20px 200px 20px 200px;
}

.semProdutos h4 {
    font-weight: 800;
    color: burlywood;
    font-size: 25px;
}

.semProdutos i{
    color: blue;
}

.semProdutos a {
    transition: 0.3s;
}
.semProdutos a:hover {
    transform: scale(1.2);
    padding: 2% 10% 0 10%;
}