<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalhes.css') }}">
    <title>{{ produto[0] }}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="voltarBtn"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
        </nav>
    </header>

    <img id="imgProduto" src="{{ produto[2] }}" alt="">
    <div id = faixaPrincipal>
        <h1 id="tituloProduto">{{ produto[0] }}</h1>
        <h2 id="precoProduto">R${{ "%.2f"|format(produto[1]) }}</h2>
    </div>
    <p id="descProduto">{{ produto[3] }}</p>

    <button id="adicionarCarrinho" onclick="adicionarCarrinho(document.getElementById('tituloProduto').innerText)">Adicionar ao carrinho</button>
    
    <script src="https://kit.fontawesome.com/61a32136cb.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/detalhes.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/carrinho.js') }}"></script>
</body>
</html>