<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <header>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="voltarBtn"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
        </nav>
    </header>

     <h1>Login</h1>
    <main>
        <form class="loginForm">

            <label for="userEmail">Email</label>
            <input type="email" id="userEmail" placeholder="exemplo@exemplo.com">

            <label for="userSenha">Senha</label>
            <input type="password" id="userSenha" placeholder="Digite sua senha">

            <input type="submit" id="submitLoginBtn">

            <p id="retorno"></p>
        </form>

        <a id="trocarPagina" href="{{ url_for('cadastro') }}">Novo aqui?</a>
    </main>
    <script src="{{ url_for('static', filename='scripts/cadastro.js') }}"></script>

    <script src="https://kit.fontawesome.com/61a32136cb.js" crossorigin="anonymous"></script>
</body>
</html>